src/nodered/flows.json
[
    {
        "id": "b3b83bf1021a6746",
        "type": "tab",
        "label": "Telegram Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c7859b9f75c38ced",
        "type": "telegram sender",
        "z": "b3b83bf1021a6746",
        "name": "alarm_bot",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 950,
        "y": 180,
        "wires": [
            [
                "46e157e9b96dceb2"
            ]
        ]
    },
    {
        "id": "6e2826f0afb5432a",
        "type": "inject",
        "z": "b3b83bf1021a6746",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"chatId\":CHAT_ID,\"type\":\"message\",\"content\":\"Allarme terremoto\"}",
        "payloadType": "json",
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "46e157e9b96dceb2",
        "type": "debug",
        "z": "b3b83bf1021a6746",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 180,
        "wires": []
    },
    {
        "id": "5924a741e9e5cad2",
        "type": "function",
        "z": "b3b83bf1021a6746",
        "name": "allarmi",
        "func": "var area = msg.payload.area;\nvar testo = \"⚠️ ALLARME SISMA! ⚠️\\n\" + msg.payload.msg;\n\nmsg.payload = {\n    chatId: -1003873657111, \n    type: 'message',\n    content: testo\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "c7859b9f75c38ced"
            ]
        ]
    },
    {
        "id": "056e396e715d1722",
        "type": "telegram receiver",
        "z": "b3b83bf1021a6746",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "x": 980,
        "y": 80,
        "wires": [
            [
                "72ae8fb678ff7cba"
            ],
            [
                "72ae8fb678ff7cba"
            ]
        ]
    },
    {
        "id": "72ae8fb678ff7cba",
        "type": "debug",
        "z": "b3b83bf1021a6746",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 80,
        "wires": []
    },
    {
        "id": "88400e72e53ada23",
        "type": "mqtt in",
        "z": "b3b83bf1021a6746",
        "name": "AWS_IOT",
        "topic": "alarms/notifications",
        "qos": "0",
        "datatype": "json",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "5924a741e9e5cad2",
                "a0fc29c6a6f56bca"
            ]
        ]
    },
    {
        "id": "a0fc29c6a6f56bca",
        "type": "debug",
        "z": "b3b83bf1021a6746",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "d6d692dd7d1fe414",
        "type": "tab",
        "label": "Simulatore",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f8653eba5092ec9b",
        "type": "function",
        "z": "d6d692dd7d1fe414",
        "name": "simulaSisma",
        "func": "// Recupero il nome del sismografo dal nodo Inject\nconst deviceID = msg.payload;\n\n// Verifico che il payload non sia vuoto\nif (!deviceID || typeof deviceID !== 'string') {\n    node.error(\"Errore: Il nodo Inject deve inviare il nome del sismografo come stringa!\");\n    return null;\n}\n\n// Simulo la raffica di tilt (10 messaggi, uno ogni 500ms)\nfor (let i = 0; i < 10; i++) {\n    setTimeout(() => {\n        // Costruisco il payload per AWS\n        let simulatedPayload = {\n            \"deviceId\": deviceID,\n            \"timestamp\": Math.floor(Date.now() / 1000)\n        };\n\n        // Costruisco il topic dinamico: devices/NOME_SISMOGRAFO/tilt\n        let topicDinamico = \"devices/\" + deviceID + \"/tilt\";\n\n        // Invio il messaggio al nodo MQTT Out\n        node.send({\n            topic: topicDinamico,\n            payload: simulatedPayload\n        });\n\n    }, i * 500);\n}\n\n// Log di controllo nel debug di Node-RED\nnode.warn(\"Simulazione avviata per il dispositivo: \" + deviceID);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "0b068d6e81f50d1a"
            ]
        ]
    },
    {
        "id": "c241acceae065713",
        "type": "inject",
        "z": "d6d692dd7d1fe414",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sismografo_gabriele",
        "payloadType": "str",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "f8653eba5092ec9b"
            ]
        ]
    },
    {
        "id": "0b068d6e81f50d1a",
        "type": "mqtt out",
        "z": "d6d692dd7d1fe414",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "3e9e6b32d28eada5",
        "type": "inject",
        "z": "d6d692dd7d1fe414",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sismografo_fabio",
        "payloadType": "str",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "f8653eba5092ec9b"
            ]
        ]
    },
    {
        "id": "86cdb9fbfabdcd4c",
        "type": "tab",
        "label": "Soglie e Intervalli",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cd9916978afbd50",
        "type": "ui_numeric",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "label": "Finestra Tempo (sec)",
        "tooltip": "",
        "group": "8fb6dd55913dfc13",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "10",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "5595c5e34dd0403b"
            ]
        ]
    },
    {
        "id": "e7c90732b541273c",
        "type": "ui_numeric",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "label": "Intervallo 1",
        "tooltip": "",
        "group": "8fb6dd55913dfc13",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "48",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "fc2c158d9737e19e"
            ]
        ]
    },
    {
        "id": "4b7e6e4bc9f7de34",
        "type": "ui_numeric",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "label": "Intervallo 3",
        "tooltip": "",
        "group": "8fb6dd55913dfc13",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "48",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 360,
        "wires": [
            [
                "5484b93b9316c2f4"
            ]
        ]
    },
    {
        "id": "82f3159189d31657",
        "type": "ui_numeric",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "label": "Intervallo 2",
        "tooltip": "",
        "group": "8fb6dd55913dfc13",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "48",
        "step": 1,
        "className": "",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "90a642e9c96eec90"
            ]
        ]
    },
    {
        "id": "a49093602258ad4a",
        "type": "ui_button",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "group": "8fb6dd55913dfc13",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Salva Configurazione",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "ac959dd7fc9b4a97"
            ]
        ]
    },
    {
        "id": "ac959dd7fc9b4a97",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 11",
        "func": "// Recupera i dati dal flow context\nvar areaId = flow.get(\"areaId\") || \"GLOBAL\";\nvar threshold = flow.get(\"tiltThreshold\") || 5;\nvar window = flow.get(\"timeWindow\") || 10;\nvar h1 = flow.get(\"int1\") || 1;\nvar h2 = flow.get(\"int2\") || 12;\nvar h3 = flow.get(\"int3\") || 24;\n\nmsg.Item = {\n        \"areaId\": { \"S\": String(areaId) },\n        // NOTA: Usa \"N\" per i numeri, ma passali come stringhe. \n        // DynamoDB vuole così per il tipo Number.\n        \"tiltThreshold\": { \"N\": String(threshold) },\n        \"timeWindow\":    { \"N\": String(window) },\n        \"int1\":          { \"N\": String(h1) },\n        \"int2\":          { \"N\": String(h2) },\n        \"int3\":          { \"N\": String(h3) }\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [
            [
                "487162a8af562de7"
            ]
        ]
    },
    {
        "id": "487162a8af562de7",
        "type": "AWS DynamoDB",
        "z": "86cdb9fbfabdcd4c",
        "aws": "",
        "operation": "PutItem",
        "Statements": "",
        "RequestItems": "",
        "TableName": "SystemSettings",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "BackupArn": "",
        "Key": "",
        "ExportArn": "",
        "Statement": "",
        "TransactStatements": "",
        "TableArn": "",
        "S3Bucket": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TransactItems": "",
        "TagKeys": "",
        "PointInTimeRecoverySpecification": "",
        "ContributorInsightsAction": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 900,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9c5d3276e9501689",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 12",
        "func": "flow.set(\"tiltThreshold\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5595c5e34dd0403b",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 13",
        "func": "flow.set(\"timeWindow\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fc2c158d9737e19e",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 14",
        "func": "flow.set(\"int1\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "90a642e9c96eec90",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 15",
        "func": "flow.set(\"int2\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "5484b93b9316c2f4",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 16",
        "func": "flow.set(\"int3\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6e1bce06c7c524c3",
        "type": "ui_button",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "group": "8fb6dd55913dfc13",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "0d1b26bbc258415d"
            ]
        ]
    },
    {
        "id": "0d1b26bbc258415d",
        "type": "function",
        "z": "86cdb9fbfabdcd4c",
        "name": "function 17",
        "func": "// Recupera i dati dal flow context\nvar areaId = \"GLOBAL\";\nvar threshold = 5;\nvar window = 10;\nvar h1 = 1;\nvar h2 = 12;\nvar h3 = 24;\n\nmsg.Item = {\n        \"areaId\": { \"S\": String(areaId) },\n        // NOTA: Usa \"N\" per i numeri, ma passali come stringhe. \n        // DynamoDB vuole così per il tipo Number.\n        \"tiltThreshold\": { \"N\": String(threshold) },\n        \"timeWindow\":    { \"N\": String(window) },\n        \"int1\":          { \"N\": String(h1) },\n        \"int2\":          { \"N\": String(h2) },\n        \"int3\":          { \"N\": String(h3) }\n    \n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 540,
        "wires": [
            [
                "487162a8af562de7"
            ]
        ]
    },
    {
        "id": "a9baaf30125fe91d",
        "type": "ui_numeric",
        "z": "86cdb9fbfabdcd4c",
        "name": "",
        "label": "Soglia Tilt",
        "tooltip": "",
        "group": "8fb6dd55913dfc13",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "5",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "9c5d3276e9501689"
            ]
        ]
    },
    {
        "id": "8fb6dd55913dfc13",
        "type": "ui_group",
        "name": "Default",
        "tab": "759a448185a4a9f3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "759a448185a4a9f3",
        "type": "ui_tab",
        "name": "Configurazione",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c15924de4bbdfd3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-aws": "0.7.0"
        }
    },
    {
        "id": "5626651e3655e789",
        "type": "tab",
        "label": "Aggiunta Sensori",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b225019cb4f0523",
        "type": "ui_button",
        "z": "5626651e3655e789",
        "name": "",
        "group": "b7cbb33a214d872e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "4c8274fd1896484c"
            ]
        ]
    },
    {
        "id": "98783b9bcb2bcecb",
        "type": "function",
        "z": "5626651e3655e789",
        "name": "function 18",
        "func": "flow.set(\"deviceId\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f62854ec43b6cd94",
        "type": "function",
        "z": "5626651e3655e789",
        "name": "function 19",
        "func": "flow.set(\"areaId\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4c8274fd1896484c",
        "type": "function",
        "z": "5626651e3655e789",
        "name": "function 20",
        "func": "// 1. Recupera i valori dalle VARIABILI DI FLUSSO (dove li hai salvati dai form)\nvar id = flow.get(\"deviceId\");\nvar area = flow.get(\"areaId\");\n\n// 2. Controllo di sicurezza: se i campi sono vuoti o indefiniti, ferma tutto e avvisa\nif (!id || id === \"\") {\n    node.error(\"ERRORE: deviceId è vuoto!\");\n    node.status({ fill: \"red\", shape: \"ring\", text: \"deviceId vuoto!\" });\n    return null; // Interrompe il flusso\n}\nif (!area || area === \"\") {\n    node.error(\"ERRORE: areaId è vuoto!\");\n    node.status({ fill: \"red\", shape: \"ring\", text: \"areaId vuoto!\" });\n    return null; // Interrompe il flusso\n}\n\n// 3. Prepara i parametri DIRETTAMENTE SU MSG, non in msg.payload!\nmsg.TableName = \"SensorsRegistry\";\n\nmsg.Item = {\n    \"deviceId\": { \"S\": String(id) },\n    \"areaId\": { \"S\": String(area) }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "9b34bfda0471d1c3"
            ]
        ]
    },
    {
        "id": "bb7c52fe2b69ceb4",
        "type": "ui_text_input",
        "z": "5626651e3655e789",
        "name": "",
        "label": "deviceId",
        "tooltip": "",
        "group": "b7cbb33a214d872e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "98783b9bcb2bcecb"
            ]
        ]
    },
    {
        "id": "2558b437c7994e5e",
        "type": "ui_text_input",
        "z": "5626651e3655e789",
        "name": "",
        "label": "areaId",
        "tooltip": "",
        "group": "b7cbb33a214d872e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "f62854ec43b6cd94"
            ]
        ]
    },
    {
        "id": "9b34bfda0471d1c3",
        "type": "AWS DynamoDB",
        "z": "5626651e3655e789",
        "aws": "",
        "operation": "PutItem",
        "Statements": "",
        "RequestItems": "",
        "TableName": "SensorsRegistry",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "BackupArn": "",
        "Key": "",
        "ExportArn": "",
        "Statement": "",
        "TransactStatements": "",
        "TableArn": "",
        "S3Bucket": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TransactItems": "",
        "TagKeys": "",
        "PointInTimeRecoverySpecification": "",
        "ContributorInsightsAction": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 760,
        "y": 300,
        "wires": [
            [],
            [
                "4cb8f31bb3e8caa1"
            ]
        ]
    },
    {
        "id": "4cb8f31bb3e8caa1",
        "type": "debug",
        "z": "5626651e3655e789",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 300,
        "wires": []
    },
    {
        "id": "8fb6dd55913dfc13",
        "type": "ui_group",
        "name": "Default",
        "tab": "759a448185a4a9f3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7cbb33a214d872e",
        "type": "ui_group",
        "name": "Default",
        "tab": "248f7365385197d6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "759a448185a4a9f3",
        "type": "ui_tab",
        "name": "Configurazione",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "248f7365385197d6",
        "type": "ui_tab",
        "name": "Nuovo Sensore",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "198c39c4ed303e1f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-telegrambot": "17.1.2",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-aws": "0.7.0"
        }
    }
]
